@{
    ViewBag.Title = "FailureView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Opp! Some errors happen. We cannot process the transaction. Please try again</h2>
<p>@Html.ActionLink("Try Again", "Index", "Paypal",new { id=Model.profileID }, null) </p>
