@model IEnumerable<Login_Registration.Models.FileNames>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
       <th>
            FileId
        </th>
        <th>
            FileName
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
    <td>
            @Html.DisplayFor(modelItem => item.FileId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.ActionLink("Download", "Download", new { id = item.FileId }) 
        </td>
         <td>
            @Html.ActionLink("View Document", "ViewFile", new { id = item.FileId }) 
        </td>
    </tr>
}

</table>
